@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-SemiBold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Medium.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Medium;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Regular.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Regular;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  src: url(../fonts/Barlow-Light.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Light;
  font-weight: 400;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Bold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Bold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-ExtraBold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-ExtraBold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Regular.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Regular;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Medium.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Medium;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-SemiBold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Bold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Bold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-ExtraBold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-ExtraBold;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Light.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Light;
}
