@mixin h1 {
  font-family: Barlow-Bold;
  font-size: 80px;
  color: $purple;

  @include desktop {
    margin-bottom: 60px;
  }

  @include tablet {
    font-size: 51px;
  }

  @include mobile {
    font-size: 44px;
    margin-bottom: 10px;
  }
}

@mixin h2 {
  font-family: Barlow-Light;
  font-weight: 300;
  font-size: 36px;
  color: $black;

  &.underline {
    &::after {
      content: '';
      display: block;
      width: 88px;
      height: 3px;
      background-image: linear-gradient(to right, $marigold, $pink-red);
      margin: 15px auto 32px;

      @include mobile {
        margin: 15px auto 23px;
      }
    }
  }

  &.left {
    &::after {
      margin: 15px 0 32px;
    }
  }
}

@mixin h3 {
  font-family: Barlow-Medium;
  font-size: 24px;
  color: $charcoal-gray;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

@mixin h4 {
  font-family: Barlow-Regular;
  font-size: 24px;
  line-height: 32px;
  color: $white;
  font-weight: normal;
}

@mixin a {
  text-decoration: none;
}

@mixin p {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

@mixin strong {
  font-weight: bold;
}

@mixin transition-opacity {
  transition: opacity 1s ease-in-out;
}
