$purple: #6b05a8;
$black: #000000;
$white: #ffffff;
$charcoal-gray: #363d42;
$slate-gray: #545c69;
$dark-gray: #23282b;
$sky-blue: #78a1fc;
$ice-blue: #f2f5f7;
$warm-blue: #4d5ee0;
$marigold: #ffbc00;
$pink-red: #f70656;
$blue-scene-bg: #f6f8fa;
$orange: #f5a624;
$grape-purple: #3e1253;
$indigo: #5a0d87;
$very-light-pink: #dddddd;
