.slider {
  min-height: 100vh;
  height: 100%;

  .slider-inner {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: inherit;
    @include transition-opacity;
  }

  .chemicals {
    background-image: url(../images/chemicals.png);
  }

  .energy {
    background-image: url(../images/energy.png);
  }

  .consumer-products {
    background-image: url(../images/consumer-products.png);
  }

  .power {
    background-image: url(../images/power.png);
  }

  .slider-arrows {
    position: relative;

    @include tablet {
      position: absolute;
    }

    @include non-desktop {
      z-index: 1;
    }

    .arrows {
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: row;

      @include tablet {
        right: 15px;
      }

      @include mobile {
        right: 16px;
      }
    }

    .arrow {
      width: 63px;
      height: 63px;
      background-color: $warm-blue;
      color: $white;
      text-align: center;
      line-height: 63px;
      cursor: pointer;

      @include mobile {
        width: 45px;
        height: 45px;
        line-height: 50px;
      }

      &.arrow-left {
        margin-right: 3px;
      }

      &.arrow-right {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  .slide {
    &.hidden {
      display: none;
    }

    .title-nav {
      @include tablet {
        order: 1;
      }
    }

    .video-wrapper {
      margin: 30px 0 72px;
      position: relative;

      @include tablet {
        margin: 30px 0 40px;
      }

      @include mobile {
        margin: 30px 0;
      }

      .video {
        max-width: 100%;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
    }

    .col-left {
      @include non-desktop {
        order: 2;
      }

      .text-wrapper {
        h1 {
          @include h1;

          @include tablet {
            margin-top: 125px;
          }
        }
      }
    }

    .col-right {
      @include tablet {
        margin-left: auto;
      }

      @include non-desktop {
        order: 4;

        &.video-wrapper {
          order: 3;
        }
      }

      p {
        @include p;
      }

      .button {
        margin-top: 72px;

        @include tablet {
          margin-top: 45px;
        }

        @include mobile {
          margin-top: 30px;
        }
      }
    }
  }
}
