.large {
  font-size: 16px;
  line-height: 24px;
}

.white {
  color: $white;
}

.slate {
  color: $slate-gray;
}

.charcoal {
  color: $charcoal-gray;
}

.dark {
  color: $dark-gray;
}

.black {
  color: $black;
}

.center {
  text-align: center;
}
