h1, .splash.purple h1:after {font-family:Barlow-Bold, Arial, Helvetica, sans-serif;}
h2 {font-family:Barlow-Light, Arial, Helvetica, sans-serif;}
h3, .pulse-dot .tooltip {font-family:Barlow-Medium, Arial, Helvetica, sans-serif;}
h4 {font-family:Barlow-Regular, Arial, Helvetica, sans-serif;}
p, .scenes-wrapper p.scenes-label {font-family:Muli-Regular, Arial, Helvetica, sans-serif;}
body {font-family:Barlow-Light, Arial, Helvetica, sans-serif;}
.button, .nav-link {font-family:Barlow-SemiBold, Arial, Helvetica, sans-serif;}
.splash.purple * {transition:none!important;}

.pop-trigger {display: block;}

.sidebar .pop-trigger {
  margin-bottom: 25px;
}

.sidebar-wrapper .sidebar .white-section .sidebar-video-wrapper p {
  margin-bottom: 25px;
}
.pop-trigger>img {display: block;cursor: pointer;max-width: 100%;height: auto;}
.fitb-pop {position: fixed;top: 50%;left: 50%;width: 101vw;height: 101vh;-webkit-transform: translate(-50%, -10%);background: rgba(0,0,0,.75);z-index: 999999;padding: 40px;display: flex;flex-direction: column;align-items: center;display: none;}
.sidebar .fitb-pop {-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.active .fitb-pop {display: flex; }
.fitb-pop>div {margin: auto 0; width: 100%; max-width: 750px; padding: 0!important; height: 422px; max-height: calc( ( 100vw - 80px ) * .5625 ); }

.background-video {position: absolute; z-index: -1; bottom: 0; width: 100%; height: auto; }
.nav .nav-item .nav-link:hover {color: #545C69; }

@-webkit-keyframes pulse-before{
  0%{box-shadow:0 0 0 0 rgba(245,166,36,0.4)}
  3%{box-shadow:0 0 0 20px rgba(245,166,36,0.4)}
  35%{box-shadow:0 0 0 56px rgba(245,166,36,0)}
}
@keyframes pulse-before{
  0%{box-shadow:0 0 0 0 rgba(245,166,36,0.4)}
  3%{box-shadow:0 0 0 20px rgba(245,166,36,0.4)}
  35%{box-shadow:0 0 0 56px rgba(245,166,36,0)}
}
@-webkit-keyframes pulse-after{
  15%{box-shadow:0 0 0 0 rgba(245,166,36,0.2)}
  18%{box-shadow:0 0 0 10px rgba(245,166,36,0.2)}
  50%{box-shadow:0 0 0 70px rgba(245,166,36,0)}
}
@keyframes pulse-after{
  15%{box-shadow:0 0 0 0 rgba(245,166,36,0.2)}
  18%{box-shadow:0 0 0 10px rgba(245,166,36,0.2)}
  50%{box-shadow:0 0 0 70px rgba(245,166,36,0)}
}

@media screen and (max-width: 1024px) {
  .fitb-pop {-webkit-transform: translate(-50%, -44%);}
}
@media screen and (max-width: 1009px) {
  .fitb-pop {-webkit-transform: translate(-50%, -51%);}
}
@media screen and (max-width: 800px) {
  .fitb-pop {-webkit-transform: translate(-50%, -50%);}
}
@media screen and (max-width: 573px) {
  .home .splash-inner>.col-wrapper {padding-bottom: 170px; }
}