@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-SemiBold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Medium.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Medium
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Regular.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Regular
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  src: url(../fonts/Barlow-Light.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Light;
  font-weight: 400
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-Bold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-Bold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow-ExtraBold.ttf) format("truetype");
  font-display: swap;
  font-family: Barlow-ExtraBold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Regular.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Regular
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Medium.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Medium
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-SemiBold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-SemiBold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Bold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Bold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-ExtraBold.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-ExtraBold
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Muli-Light.ttf) format("truetype");
  font-display: swap;
  font-family: Muli-Light
}

.large {
  font-size: 16px;
  line-height: 24px
}

.white {
  color: #fff
}

.slate {
  color: #545c69
}

.charcoal {
  color: #363d42
}

.dark {
  color: #23282b
}

.black {
  color: #000
}

.center {
  text-align: center
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

html {
  height: 100%
}

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden
  }
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  color: #000;
  font-family: Barlow-Light;
  background-color: #f2f5f7;
  -ms-overflow-style: none;
  scrollbar-width: none
}

/*
body::-webkit-scrollbar {
  display: none
}*/

.container {
  max-width: 1110px;
  width: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 0 20px
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 16px
  }
}

.container-center {
  margin: 0 auto
}

@media only screen and (min-width: 1025px) {
  .container-position {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
  }
}

.hidden {
  display: none
}

.invisible {
  visibility: hidden
}

.button {
  text-decoration: none;
  font-family: Barlow-SemiBold;
  font-size: 16px;
  line-height: normal;
  padding: 14px 25px 15px;
  color: #fff;
  background-color: #4d5ee0;
  display: inline-block;
  text-align: center;
  max-width: 167px;
  width: 100%
}

.industry .container {
  max-width: 920px;
}

.button.button-inverted {
  color: #4d5ee0;
  background-color: transparent;
  border: 1px solid #4d5ee0
}

.col-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .col-wrapper {
    flex-direction: column;
    justify-content: initial
  }
}

.col-wrapper .col {
  width: 100%
}

@media only screen and (min-width: 481px) {
  .col-wrapper .col {
    flex-basis: 50%
  }
}

@media only screen and (max-width: 480px) {
  .col-wrapper .col.col-left .text-wrapper {
    display: flex;
    flex-direction: column-reverse
  }
}

.col-wrapper .col.col-full {
  flex-basis: 50%
}

@media only screen and (max-width: 1024px) {
  .col-wrapper .col.col-full {
    flex-basis: 100%
  }
}

.nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.nav .nav-list .nav-link {
  text-decoration: none
}

.nav.title-nav {
  transition: opacity 1s ease-in-out
}

@media only screen and (max-width: 1024px) {
  .nav.title-nav {
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
  }
  .nav.title-nav::-webkit-scrollbar {
    display: none
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav.title-nav {
    padding: 92px 0 150px
  }
}

@media only screen and (max-width: 480px) {
  .nav.title-nav {
    padding: 60px 0 72px
  }
}

.nav.top-nav {
  padding: 12px 0 18px 45px;
  position: relative;
  z-index: 5
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav.top-nav {
    padding: 88px 0 64px 20px
  }
}

@media only screen and (max-width: 480px) {
  .nav.top-nav {
    padding: 54px 0 77px 16px;
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
  }
  .nav.top-nav::-webkit-scrollbar {
    display: none
  }
}

.nav.top-nav .nav-list {
  justify-content: flex-start
}

.nav .nav-item {
  flex: 0 0 140px;
  margin-right: 20px
}

@media only screen and (max-width: 480px) {
  .nav .nav-item:nth-of-type(2) {
    max-width: 80px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav .nav-item {
    flex: 0 0 150px
  }
}

@media only screen and (max-width: 480px) {
  .nav .nav-item {
    flex: 0 0 auto
  }
}

.nav .nav-item .nav-link {
  font-family: Barlow-SemiBold;
  font-size: 18px;
  line-height: 24px
}

.nav .nav-item .nav-link.active {
  color: #78a1fc
}

.industry .level-link {
  display: none;
}

.level-enterprise .level-link-enterprise {
  display: inline;
}

.level-plant .level-link-plant {
  display: inline;
}

.industry .main-title-wrapper h2 {
  font-family: Barlow-Light;
  font-weight: 300;
  font-size: 36px;
  color: #000;
}

.industry .main-title-wrapper h2.underline::after {
  content: '';
  display: block;
  width: 88px;
  height: 3px;
  background-image: linear-gradient(to right, #ffbc00, #f70656);
  margin: 15px auto 32px;
}

.industry .main-title-wrapper p {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.scenes-wrapper p.scenes-label {
  font-family: Muli-Regular;
  font-size: 18px;
  font-weight: bold;
  color: #363d42;
}

.scenes-wrapper .title-wrapper.show-on-level div {
  opacity: 0;
  position: absolute;
  max-width: 340px;
}

.level-plant .chemicals .col-right .show-on-level {
}

.level-enterprise .chemicals .col-left .show-on-level {
}


.industry .chemicals .col-left .hide-on-level,
.industry .chemicals .col-right .hide-on-level {
  position: relative;
  display: block !important;
}

.level .industry .chemicals .col-left .hide-on-level
.level .industry .chemicals .col-right .hide-on-level {
  display: block !important;
}

.col-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-wrapper .col {
  width: 100%;
}

.scenes-wrapper {
  margin-top: 75px;
  position: relative;
}

.scenes-wrapper .col .video {
  max-width: 100%;
}

.pull-up.scenes-wrapper .button {
  margin: auto;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -60px);
}

.scenes-wrapper .col .box-wrapper .video-wrapper {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col {
    min-height: 408px
  }
}

.scenes-wrapper .col .box-wrapper {
  height: 100%
}

.scenes-wrapper .col .box-wrapper.change-position {
  position: absolute
}

.scenes-wrapper .col .box-wrapper .video-wrapper {
  height: 100%;
}

.scenes-wrapper .col .video {
  max-width: 100%
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col.col-left {
    margin-left: auto
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper .col.col-left .box-wrapper {
    margin-left: auto
  }
}

@media only screen and (max-width: 480px) {
  .scenes-wrapper .col.col-left {
    margin-bottom: 96px
  }
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col.col-right {
    margin-left: auto
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper .col.col-right .box-wrapper {
    margin-right: auto
  }
}

@keyframes hover-scene {
  0% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
  25% {
    transform: translate(calc(var(--moveLeft) + -4px), var(--moveDown)) scale(var(--scaleAmount))
  }
  50% {
    transform: translate(calc(var(--moveLeft) + 5px), calc(var(--moveDown) + 8px)) scale(var(--scaleAmount))
  }
  75% {
    transform: translate(var(--moveLeft), calc(var(--moveDown) + -6px)) scale(var(--scaleAmount))
  }
  100% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
}

@keyframes hover-scene2 {
  0% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
  25% {
    transform: translate(calc(var(--moveLeft) + 4px), var(--moveDown)) scale(var(--scaleAmount))
  }
  50% {
    transform: translate(calc(var(--moveLeft) + 7px), calc(var(--moveDown) + 5px)) scale(var(--scaleAmount))
  }
  75% {
    transform: translate(var(--moveLeft), calc(var(--moveDown) + 8px)) scale(var(--scaleAmount))
  }
  100% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
}

@keyframes make-bigger {
  0% {
    transform: translate(-5px, 50px) scale(1.25);
  }
  100% {
    transform: translate(-5px, 50px) scale(2.5);
  }
}

@keyframes make-bigger2 {
  0% {
    transform: translate(-5px, 50px) scale(1.6);
  }
  100% {
    transform: translate(-5px, 50px) scale(2.8);
  }
}

@keyframes show-on-level {
  0% {
    opacity: 0;
    transform: translate(100px, 0px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px) scale(1);
  }
}

.industry:not(.level) .video {
  -webkit-animation-name: hover-scene;
  animation-name: hover-scene;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.industry:not(.level) .col-right .video {
  -webkit-animation-name: hover-scene2;
  animation-name: hover-scene2;
}

.industry .chemicals .col-right .video {
  --scaleAmount: 1.25;
  --moveLeft: -5px;
  --moveDown: 50px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

.industry .chemicals .col-left .video {
  --scaleAmount: 1.6;
  --moveLeft: -10px;
  --moveDown: 25px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

.industry.level-plant .chemicals .col-right .video-wrapper {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.industry.level-plant .chemicals .col-right .video {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  -webkit-animation-name: make-bigger;
  animation-name: make-bigger;
  z-index: 10000;
}

.industry.level-enterprise .chemicals .col-left .video-wrapper {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.industry.level-enterprise .chemicals .col-left .video {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  -webkit-animation-name: make-bigger2;
  animation-name: make-bigger2;
  z-index: 10000;
}

.industry.level .pull-up.scenes-wrapper .button {
  z-index: -1;
}

.hide-on-level {
  height: 100%;
}

.legend {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px 14px 18px 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 110px;
  border-left: 2px solid #6b05a8;
  left: -200%;
  bottom: 0%;
  transition: 1s;
}

.legend .dot {
  flex: 0 0 16px;
  margin: 5px 15px 0 0;
}

.level .legend.show-on-level {
  max-width: 292px;
  display: flex;
}

.legend .description {
  max-width: 180px;
}

.pulse-dot {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #f5a624;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  transition: all .5s ease
}

.pulse-dot.show-dot {
  opacity: 1
}

.pulse-dot:hover .tooltip {
  top: -50px;
  left: 0px;
  opacity: 1;
  transition: all .5s ease;

}

.pulse-dot .tooltip {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  font-family: Barlow-Medium;
  font-size: 18px;
  color: #363d42;
  position: absolute;
  padding: 5px 15px 5px 15px;
  white-space: nowrap;
  top: -40px;
  left: 0px;
  opacity: 0;
  transition: all .5s;
  z-index: 5;
  pointer-events: none
}

.pulse-dot .tooltip::after {
  content: " ";
  position: absolute;
  left: 10px;
  bottom: -6px;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: none
}

.pulse-dot .dot-img {
  box-shadow: 0 0 0 10px rgba(245, 166, 36, 0.3)
}

.pulse-dot .dot-img,
.pulse-dot::before,
.pulse-dot::after {
  content: '';
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all 2s ease-in-out;
  width: 12px;
  height: 12px;
  z-index: 1;
  position: relative;
  margin-left: 9px;
  margin-top: 9px
}

.pulse-dot::before,
.pulse-dot::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: none;
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.pulse-dot::before {
  -webkit-animation-name: pulse-before;
  animation-name: pulse-before
}

.pulse-dot::after {
  -webkit-animation-name: pulse-after;
  animation-name: pulse-after
}

.level-plant .chemicals .margins {
  top: 16%;
  left: -1%;
}

.level-plant .chemicals .downtime {
  top: -1%;
  left: 65%;
}

.level-plant .chemicals .agility {
  top: 65%;
  left: 45%;
}

.level .col-wrapper .col .video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: unset;
}

.scenes-wrapper .show-on-level.title-wrapper h2.underline::after {
  content: '';
  display: block;
  width: 88px;
  height: 3px;
  background-image: linear-gradient(to right, #ffbc00, #f70656);
  margin: 15px auto 32px;
}

.scenes-wrapper .show-on-level.title-wrapper h2.left::after {
  margin: 15px 0 32px;
}

.scenes-wrapper .show-on-level.title-wrapper p {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.scenes-wrapper .show-on-level, .scenes-wrapper .show-on-level * {
  transition: all 0.5s ease-in-out;
}

.level .hide-on-level {
  position: relative;
}

.scenes-wrapper .show-on-level.title-wrapper h2 {
  font-family: Barlow-Light;
  font-weight: 300;
  font-size: 36px;
  color: #000;
}

.level.level-plant .col-left .box-wrapper,
.level.level-enterprise .col-right .box-wrapper {
  overflow: hidden;
}

.level.level-plant .col-left .show-on-level,
.level.level-enterprise .col-right .show-on-level {
  display: none;
}

.sidebar-wrapper {
  position: absolute;
  max-width: 625px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transition: right 1s ease-in-out;
  transition-delay: 1s
}
/*
@media only screen and (min-width: 1025px) {
  .sidebar-wrapper {
    overflow-x: hidden
  }
}
@media only screen and (max-width: 1024px) {
  .sidebar-wrapper {
    overflow: hidden
  }
}*/
@media only screen and (max-width: 1024px) {
  .sidebar-wrapper {
    max-width: 100%;
    left: 0;
    position: relative
  }
}
.sidebar-wrapper .sidebar {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -200%;
  height: 100%;
  box-shadow: -18px 4px 16px 0 rgba(0, 0, 0, 0.1);
  transition: right 2s ease-in-out
}
.sidebar-wrapper .sidebar .purple-gradient-section {
  background-image: linear-gradient(128deg, #3e1253 7%, #5a0d87 67%);
  padding: 22px 35px 30px;
  position: relative
}
.sidebar-wrapper .sidebar .purple-gradient-section h4 {
  font-family: Barlow-Regular;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: normal
}
.sidebar-wrapper .sidebar .purple-gradient-section p {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .sidebar-wrapper .sidebar .purple-gradient-section {
    padding: 43px 50px 15px
  }
  .sidebar-wrapper .sidebar .purple-gradient-section h4 {
    margin-bottom: 20px
  }
  .sidebar-wrapper .sidebar .purple-gradient-section .white {
    margin-bottom: 15px
  }
}
@media only screen and (max-width: 480px) {
  .sidebar-wrapper .sidebar .purple-gradient-section {
    padding: 30px 45px 30px
  }
}
.sidebar-wrapper .sidebar .purple-gradient-section .sidebar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer
}
.sidebar-wrapper .sidebar .white-section {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  padding: 60px 75px 0 35px
}
@media only screen and (max-width: 1024px) {
  .sidebar-wrapper .sidebar .white-section {
    height: initial
  }
}
.sidebar-wrapper .sidebar .white-section p {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}
.sidebar-wrapper .sidebar .white-section .icon-wrapper {
  display: flex;
  margin-bottom: 25px
}
.sidebar-wrapper .sidebar .white-section .icon-wrapper .icon {
  flex: 0 0 62px;
  margin-right: 16px
}
.sidebar-wrapper .sidebar .white-section .top {
  padding-bottom: 40px;
  margin-bottom: 52px;
  border-bottom: 1px solid #ddd
}
.sidebar-active .sidebar-wrapper {
  z-index: 3;
  display: block
}
.sidebar-active .show-sidebar {
  right: 0
}
.sidebar-active .top-nav {
  position: relative;
  z-index: 1
}
@media only screen and (min-width: 1025px) {
  .sidebar-active .top-nav {
    background-color: #23282b
  }
  .sidebar-active .top-nav a {
    color: #fff
  }
}
@media only screen and (max-width: 1024px) {
  .sidebar-above .sidebar-wrapper {
    overflow: visible
  }
}
.sidebar-to-front {
  z-index: 6
}