.large {
  font-size: 16px;
  line-height: 24px
}

.white {
  color: #fff
}

.slate {
  color: #545c69
}

.charcoal {
  color: #363d42
}

.dark {
  color: #23282b
}

.black {
  color: #000
}

.center {
  text-align: center
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

html {
  height: 100%
}

@media only screen and (max-width: 1024px) {
  html {
    overflow-x: hidden
  }
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-size: 14px;
  color: #000;
  font-family: Barlow-Light, Arial, Helvetica, sans-serif;
  background-color: #f2f5f7;
  -ms-overflow-style: none;
  scrollbar-width: none
}

body::-webkit-scrollbar {
  display: none
}

.container {
  max-width: 1110px;
  width: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .container {
    padding: 0 20px
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 16px
  }
}

.container-center {
  margin: 0 auto
}

@media only screen and (min-width: 1025px) {
  .container-position {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
  }
}

.hidden {
  display: none
}

.invisible {
  visibility: hidden
}

.button {
  text-decoration: none;
  font-family: Barlow-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: normal;
  padding: 14px 25px 15px;
  color: #fff;
  background-color: #4d5ee0;
  display: inline-block;
  text-align: center;
  max-width: 167px;
  width: 100%;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.button:hover {
  background-color: #3051db;
}

.button.button-inverted {
  color: #4d5ee0;
  background-color: transparent;
  border: 1px solid #4d5ee0
}

.col-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap
}

@media only screen and (max-width: 480px) {
  .col-wrapper {
    flex-direction: column;
    justify-content: initial
  }
}

.col-wrapper .col {
  width: 100%
}

@media only screen and (min-width: 481px) {
  .col-wrapper .col {
    flex-basis: 50%
  }
}

@media only screen and (max-width: 480px) {
  .col-wrapper .col.col-left .text-wrapper {
    display: flex;
    flex-direction: column-reverse
  }
}

.col-wrapper .col.col-full {
  flex-basis: 50%
}

@media only screen and (max-width: 1024px) {
  .col-wrapper .col.col-full {
    flex-basis: 100%
  }
}

@media only screen and (min-width: 1025px) {
  .home .col-right {
    padding-left: 100px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .home .col-right {
    padding-left: 30px
  }
}

.nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.nav .nav-list .nav-link {
  text-decoration: none
}

.nav.title-nav {
  transition: opacity 1s ease-in-out
}

@media only screen and (max-width: 1024px) {
  .nav.title-nav {
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
  }
  .nav.title-nav::-webkit-scrollbar {
    display: none
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav.title-nav {
    padding: 92px 0 150px
  }
}

@media only screen and (max-width: 480px) {
  .nav.title-nav {
    padding: 60px 0 72px
  }
}

.nav.top-nav {
  padding: 12px 0 18px 45px;
  position: relative;
  z-index: 5
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav.top-nav {
    padding: 88px 0 64px 20px
  }
}

@media only screen and (max-width: 480px) {
  .nav.top-nav {
    padding: 54px 0 77px 16px;
    position: relative;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none
  }
  .nav.top-nav::-webkit-scrollbar {
    display: none
  }
}

.nav.top-nav .nav-list {
  justify-content: flex-start
}

.nav .nav-item {
  flex: 0 0 140px;
  margin-right: 20px
}

@media only screen and (max-width: 480px) {
  .nav .nav-item:nth-of-type(2) {
    max-width: 80px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .nav .nav-item {
    flex: 0 0 150px
  }
}

@media only screen and (max-width: 480px) {
  .nav .nav-item {
    flex: 0 0 auto
  }
}

.nav .nav-item .nav-link {
  font-family: Barlow-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px
}

.nav .nav-item .nav-link.active {
  color: #4D5EE0;
}

.splash {
  height: 100%
}

.splash .container {
  height: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash .container {
    padding-bottom: 75px;
    height: auto
  }
}

.splash h1 {
  font-family: Barlow-Bold, Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: #6b05a8;
  font-weight: 400;
}

@media only screen and (min-width: 1025px) {
  .splash h1 {
    margin-bottom: 60px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash h1 {
    font-size: 51px
  }
}

@media only screen and (max-width: 480px) {
  .splash h1 {
    font-size: 44px;
    margin-bottom: 10px
  }
}

.splash.purple {
  background-image: linear-gradient(to left, transparent 0, transparent 33%, #6b05a8 33%, #6b05a8 66%, transparent 66%, transparent 100%);
  background-size: 6000px 6000px;
  -webkit-animation: swipe-splash 2s ease-in-out forwards;
  animation: swipe-splash 2s ease-in-out forwards;
  -webkit-animation-delay: .1s;
  animation-delay: .1s
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash.purple {
    background-size: 3000px 3000px
  }
}

@media only screen and (max-width: 480px) {
  .splash.purple {
    background-size: 3000px 3000px
  }
}

.splash.purple .container {
  padding-bottom: 0
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash.purple .container-position {
  }
}

@media only screen and (max-width: 480px) {
  .splash.purple .container-position {

  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash.purple .col-left {
    flex-basis: 100%
  }
}

.splash.purple .text-wrapper {
  max-width: 571px
}

.splash.purple h1 {
  position: relative
}

.splash.purple h1::after {
  content: "Shaping a Sustainable Future for Industries";
  display: block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to left, #6b05a8 0, #6b05a8 33%, #f2f5f7 33%, #f2f5f7 66%, #6b05a8 66%, #6b05a8 100%);
  background-size: 6000px 6000px;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  font-family: Barlow-Bold, Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: #6b05a8;
  -webkit-animation: swipe-splash 2.4s ease-in-out;
  animation: swipe-splash 2.4s ease-in-out
}

@media only screen and (min-width: 1025px) {
  .splash.purple h1::after {
    margin-bottom: 60px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash.purple h1::after {
    width: 384px;
    font-size: 44px;
  }
}

@media only screen and (max-width: 480px) {
  .splash.purple h1::after {
    font-size: 44px;
    margin-bottom: 10px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash.purple h1::after {
    background-size: 3000px 3000px;
    font-size: 80px;
    -webkit-animation: swipe-splash 2.5s ease-in-out;
    animation: swipe-splash 2.5s ease-in-out
  }
}

@media only screen and (max-width: 480px) {
  .splash.purple h1::after {
    background-size: 3000px 3000px;
    -webkit-animation: swipe-splash 2.1s ease-in-out;
    animation: swipe-splash 2.1s ease-in-out
  }
}

.splash.purple .purple-hidden {
  display: none
}

.splash.purple .purple-invisible {
  opacity: 0
}

@media only screen and (max-width: 1024px) {
  .splash .col-left {
    order: 2
  }
}

.splash .col-right {
  padding-top: 25px;
  transition: opacity 1s ease-in-out
}

@media only screen and (max-width: 1024px) {
  .splash .col-right {
    order: 3
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .splash .col-right {
    padding-top: 15px
  }
}

.splash .col-right p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

.splash .col-right p:first-of-type {
  margin-bottom: 20px
}

.splash .col-right p strong {
  font-weight: bold
}

@media only screen and (max-width: 1024px) {
  .splash .col-full {
    order: 1
  }
}

@-webkit-keyframes swipe-splash {
  0% {
    background-position: left
  }
  100% {
    background-position: right
  }
}

@keyframes swipe-splash {
  0% {
    background-position: left
  }
  100% {
    background-position: right
  }
}

.slider {
  min-height: 100vh;
  height: 100%
}

.slider .slider-inner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
  transition: opacity 1s ease-in-out
}

.slider .chemicals {
  background-image: url(../images/chemicals.png)
}

.slider .energy {
  background-image: url(../images/energy.png)
}

.slider .consumer-products {
  background-image: url(../images/consumer-products.png)
}

.slider .power {
  background-image: url(../images/power.png)
}

.slider .slider-arrows {
  position: relative;
  z-index: 1000;
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slider-arrows {
    position: absolute
  }
}

@media only screen and (max-width: 1024px) {
  .slider .slider-arrows {
    z-index: 1
  }
}

.slider .slider-arrows .arrows {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: row
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slider-arrows .arrows {
    right: 15px
  }
}

@media only screen and (max-width: 480px) {
  .slider .slider-arrows .arrows {
    right: 16px
  }
}

.slider .slider-arrows .arrow {
  width: 63px;
  height: 63px;
  background-color: #4d5ee0;
  color: #fff;
  text-align: center;
  line-height: 72px;
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.slider .slider-arrows .arrow:hover {
  background-color: #78A1FC;
}

@media only screen and (max-width: 480px) {
  .slider .slider-arrows .arrow {
    width: 45px;
    height: 45px;
    line-height: 50px
  }
}

.slider .slider-arrows .arrow.arrow-left {
  margin-right: 3px
}

.slider .slider-arrows .arrow.arrow-right img {
  transform: rotate(180deg)
}

.slider .slide.hidden {
  display: none
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .title-nav {
    order: 1
  }
}

.slider .slide .video-wrapper {
  margin: 30px 0 72px;
  position: relative
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .video-wrapper {
    margin: 30px 0 25px;
  }
}

@media only screen and (max-width: 480px) {
  .slider .slide .video-wrapper {
    margin: 30px 0
  }
}

.slider .slide .video-wrapper .video {
  max-width: 100%
}

.slider .slide .video-wrapper .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer
}

@media only screen and (max-width: 1024px) {
  .slider .slide .col-left {
    order: 2
  }
}

.slider .slide .col-left .text-wrapper h1 {
  font-family: Barlow-Bold, Arial, Helvetica, sans-serif;
  font-size: 80px;
  color: #6b05a8;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

@media only screen and (min-width: 1025px) {
  .slider .slide .col-left .text-wrapper h1 {
    margin-bottom: 60px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .col-left .text-wrapper h1 {
    font-size: 51px
  }
}

@media only screen and (max-width: 480px) {
  .slider .slide .col-left .text-wrapper h1 {
    font-size: 44px;
    margin-bottom: 10px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .col-left .text-wrapper h1 {
    margin-top: 125px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .col-right {
    margin-left: auto
  }
}

@media only screen and (max-width: 1024px) {
  .slider .slide .col-right {
    order: 4
  }
  .slider .slide .col-right.video-wrapper {
    order: 3
  }
}

.slider .slide .col-right p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

.slider .slide .col-right .button {
  margin-top: 72px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .slider .slide .col-right .button {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .slider .slide .col-right .button {
    margin-top: 30px
  }
}

.industry {
  background-color: #f6f8fa
}

@media only screen and (max-width: 1024px) {
  .industry {
    padding-bottom: 50px
  }
}

.industry .container {
  max-width: 920px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry .container {
    max-width: 710px
  }
}

@media only screen and (max-width: 480px) {
  .industry .container {
    max-width: 100%
  }
}

.industry:not(.level) .box-wrapper {
  max-width: 460px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .box-wrapper {
    max-width: 400px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .box-wrapper {
    max-width: 100%;
    margin: 0 auto
  }
}

.industry:not(.level) .box-wrapper .video-wrapper {
  height: 360px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .box-wrapper .video-wrapper {
    max-height: 320px;
    height: 100%
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .box-wrapper .video-wrapper {
    max-height: 400px;
    height: auto
  }
}

.industry .level-link {
  display: none
}

.industry .level .scenes-wrapper {
  margin-top: 0
}

.industry .main-title-wrapper h2 {
  font-family: Barlow-Light, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #000
}

.industry .main-title-wrapper h2.underline::after {
  content: '';
  display: block;
  width: 88px;
  height: 3px;
  background-image: linear-gradient(to right, #ffbc00, #f70656);
  margin: 15px auto 32px
}

@media only screen and (max-width: 480px) {
  .industry .main-title-wrapper h2.underline::after {
    margin: 15px auto 23px
  }
}

.industry .main-title-wrapper h2.left::after {
  margin: 15px 0 32px
}

.industry .main-title-wrapper h3 {
  font-family: Barlow-Medium, Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #363d42;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px
}

.industry .main-title-wrapper p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

.scenes-wrapper {
  margin-top: 75px;
  position: relative
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper {
    margin-top: 56px
  }
}

@media only screen and (max-width: 480px) {
  .scenes-wrapper {
    margin-top: 8px
  }
}

.scenes-wrapper p.scenes-label {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #363d42
}

@media only screen and (max-width: 1024px) {
  .scenes-wrapper p.scenes-label {
    margin: 20px auto 15px !important
  }
}

.scenes-wrapper .button {
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: auto
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col {
    min-height: 408px
  }
}

.scenes-wrapper .col .box-wrapper {
  height: 100%
}

.scenes-wrapper .col .box-wrapper.change-position {
  position: absolute
}

.scenes-wrapper .col .box-wrapper .video-wrapper {
  height: 100%;
  overflow: hidden
}

.scenes-wrapper .col .video {
  max-width: 100%
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col.col-left {
    margin-left: auto
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper .col.col-left .box-wrapper {
    margin-left: auto
  }
}

@media only screen and (max-width: 480px) {
  .scenes-wrapper .col.col-left {
    margin-bottom: 96px
  }
}

@media only screen and (min-width: 481px) {
  .scenes-wrapper .col.col-right {
    margin-left: auto
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper .col.col-right .box-wrapper {
    margin-right: auto
  }
}

.scenes-wrapper .show-on-level {
  display: none
}

.scenes-wrapper .show-on-level,
.scenes-wrapper .show-on-level * {
  transition: opacity 1s ease-in-out
}

.scenes-wrapper .show-on-level.title-wrapper h2 {
  font-family: Barlow-Light, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 36px;
  color: #000
}

.scenes-wrapper .show-on-level.title-wrapper h2.underline::after {
  content: '';
  display: block;
  width: 88px;
  height: 3px;
  background-image: linear-gradient(to right, #ffbc00, #f70656);
  margin: 15px auto 32px
}

@media only screen and (max-width: 480px) {
  .scenes-wrapper .show-on-level.title-wrapper h2.underline::after {
    margin: 15px auto 23px
  }
}

.scenes-wrapper .show-on-level.title-wrapper h2.left::after {
  margin: 15px 0 32px
}

.scenes-wrapper .show-on-level.title-wrapper p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .scenes-wrapper .show-on-level.title-wrapper h2,
  .scenes-wrapper .show-on-level.title-wrapper p {
    text-align: center
  }
  .scenes-wrapper .show-on-level.title-wrapper h2::after {
    margin: 15px auto 32px
  }
}

.push-back {
  position: relative;
  z-index: 0
}

.pull-up {
  -webkit-animation: pull-up 1.5s forwards;
  animation: pull-up 1.5s forwards;
  opacity: 0
}

.pull-up.scenes-wrapper .button {
  opacity: 0;
  -webkit-animation: pull-up-button 1.5s forwards;
  animation: pull-up-button 1.5s forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

.pull-up:nth-child(2) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s
}

.pull-up:last-child {
  -webkit-animation-delay: .6s;
  animation-delay: .6s
}

.fade.out {
  -webkit-animation: fade 1s forwards;
  animation: fade 1s forwards
}

@-webkit-keyframes pull-up {
  0% {
    padding-top: 50px;
    opacity: 0
  }
  50% {
    padding-top: 0
  }
  100% {
    padding-top: 0;
    opacity: 1
  }
}

@keyframes pull-up {
  0% {
    padding-top: 50px;
    opacity: 0
  }
  50% {
    padding-top: 0
  }
  100% {
    padding-top: 0;
    opacity: 1
  }
}

@-webkit-keyframes pull-up-button {
  0% {
    margin-top: 50px;
    opacity: 0
  }
  50% {
    margin-top: 0
  }
  100% {
    margin-top: 0;
    opacity: 1
  }
}

@keyframes pull-up-button {
  0% {
    margin-top: 50px;
    opacity: 0
  }
  50% {
    margin-top: 0
  }
  100% {
    margin-top: 0;
    opacity: 1
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fade {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@-webkit-keyframes hover-scene {
  0% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
  25% {
    transform: translate(calc(var(--moveLeft) + 5px), var(--moveDown)) scale(var(--scaleAmount))
  }
  50% {
    transform: translate(calc(var(--moveLeft) + 5px), calc(var(--moveDown) + 5px)) scale(var(--scaleAmount))
  }
  75% {
    transform: translate(var(--moveLeft), calc(var(--moveDown) + 5px)) scale(var(--scaleAmount))
  }
  100% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
}

@keyframes hover-scene {
  0% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
  25% {
    transform: translate(calc(var(--moveLeft) + 5px), var(--moveDown)) scale(var(--scaleAmount))
  }
  50% {
    transform: translate(calc(var(--moveLeft) + 5px), calc(var(--moveDown) + 5px)) scale(var(--scaleAmount))
  }
  75% {
    transform: translate(var(--moveLeft), calc(var(--moveDown) + 5px)) scale(var(--scaleAmount))
  }
  100% {
    transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
  }
}

.industry:not(.level) .video {
  -webkit-animation-name: hover-scene;
  animation-name: hover-scene;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

.industry:not(.level) .col-right .video {
  animation-direction: alternate-reverse
}

.industry:not(.level) .chemicals .col-left .video {
  --scaleAmount: 1.6;
  --moveLeft: -10px;
  --moveDown: 25px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .chemicals .col-left .video {
    --scaleAmount: 1.7;
    --moveDown: 30px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .chemicals .col-left .video {
    --scaleAmount: 1.75;
    --moveDown: -50%;
    --moveLeft: -10px;
    margin-top: 50%
  }
}

.industry:not(.level) .chemicals .col-right .video {
  --scaleAmount: 1.25;
  --moveLeft: -5px;
  --moveDown: 50px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .chemicals .col-right .video {
    --moveDown: 60px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .chemicals .col-right .video {
    --scaleAmount: 1.3;
    --moveDown: -50%;
    --moveLeft: -10px;
    margin-top: 50%
  }
}

.industry:not(.level) .consumer-products .col-left .video {
  --scaleAmount: 1.5;
  --moveLeft: 5px;
  --moveDown: 50px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .consumer-products .col-left .video {
    --scaleAmount: 1.7;
    --moveDown: 50px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .consumer-products .col-left .video {
    --scaleAmount: 1.75;
    --moveDown: -50%;
    --moveLeft: 0px;
    margin-top: 50%
  }
}

.industry:not(.level) .consumer-products .col-right .video {
  --scaleAmount: 1.2;
  --moveLeft: 5px;
  --moveDown: 25px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .consumer-products .col-right .video {
    --scaleAmount: 1.3;
    --moveDown: 25px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .consumer-products .col-right .video {
    --scaleAmount: 1.3;
    --moveDown: -50%;
    --moveLeft: 5px;
    margin-top: 50%
  }
}

.industry:not(.level) .energy .col-left .video {
  --scaleAmount: 1.5;
  --moveLeft: 5px;
  --moveDown: 20px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .energy .col-left .video {
    --scaleAmount: 1.7;
    --moveDown: 30px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .energy .col-left .video {
    --scaleAmount: 1.75;
    --moveDown: -50%;
    --moveLeft: 0px;
    margin-top: 50%
  }
}

.industry:not(.level) .energy .col-right .video {
  --scaleAmount: 1.2;
  --moveLeft: 5px;
  --moveDown: 30px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .energy .col-right .video {
    --scaleAmount: 1.25;
    --moveDown: 45px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .energy .col-right .video {
    --scaleAmount: 1.3;
    --moveDown: -50%;
    --moveLeft: 0px;
    margin-top: 50%
  }
}

.industry:not(.level) .power .col-left .video {
  --scaleAmount: 1.3;
  --moveLeft: 5px;
  --moveDown: 5px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .power .col-left .video {
    --scaleAmount: 1.6;
    --moveDown: 30px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .power .col-left .video {
    --scaleAmount: 1.75;
    --moveDown: -50%;
    --moveLeft: 0px;
    margin-top: 50%
  }
}

.industry:not(.level) .power .col-right .video {
  --scaleAmount: 1;
  --moveLeft: 5px;
  --moveDown: 30px;
  transform: translate(var(--moveLeft), var(--moveDown)) scale(var(--scaleAmount))
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .industry:not(.level) .power .col-right .video {
    --moveLeft: -20px
  }
}

@media only screen and (max-width: 480px) {
  .industry:not(.level) .power .col-right .video {
    --scaleAmount: 1;
    --moveDown: -50%;
    --moveLeft: -10px;
    margin-top: 50%
  }
}

@media only screen and (max-width: 1024px) {
  .level {
    overflow-x: hidden
  }
}

@media only screen and (max-width: 480px) {
  .level {
    max-width: 100%;
    margin: 0 auto
  }
}

.level .container {
  max-width: 100vw;
  padding: 0 45px;
  height: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level .container {
    padding: 0 20px
  }
}

@media only screen and (max-width: 480px) {
  .level .container {
    padding: 0 16px;
    overflow: hidden
  }
}

.level .level-button {
  display: none
}

.level .show-on-level {
  display: block;
  margin-left: 0;
  transition: all 2s ease-in-out
}

@media only screen and (min-width: 1025px) {
  .level .show-on-level {
    max-width: 340px
  }
}

.level .box-wrapper {
  display: flex
}

@media only screen and (min-width: 1025px) {
  .level .box-wrapper {
    -webkit-animation: scale-width 2s forwards;
    animation: scale-width 2s forwards
  }
}

@media only screen and (max-width: 1024px) {
  .level .box-wrapper {
    flex-direction: column
  }
}

.level .col-wrapper {
  min-height: 100%
}

.level .col-wrapper .col {
  flex-basis: 100%
}

.level .col-wrapper .col .video-wrapper {
  position: relative;
  -webkit-animation: scale-width 2s forwards;
  animation: scale-width 2s forwards;
  transition: all 2s ease-in-out;
  margin-left: 0px;
  overflow: visible
}

@media only screen and (min-width: 1025px) {
  .level .col-wrapper .col .video-wrapper {
    max-width: calc(100% - 400px);
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
  }
}

@media only screen and (max-width: 480px) {
  .level .col-wrapper .col .video-wrapper {
    margin-top: 200px
  }
}

.level .col-wrapper .col .video-wrapper .video {
  transition: all 2s ease-in-out;
  transform-origin: center
}

@media only screen and (min-width: 1025px) {
  .level .col-wrapper .col .video-wrapper .video {
    max-height: 882px
  }
}

@media only screen and (max-width: 1024px) {
  .level .col-wrapper .col .video-wrapper .video {
    max-height: 645px
  }
}

.level .col-wrapper .col .video-wrapper .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: unset
}

@media only screen and (min-width: 1025px) {
  .level.level-scale-up .video-wrapper {
    transform: scale3d(1.25, 1.25, 1.5);
    margin-left: -200px !important
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level.level-scale-up .video-wrapper {
    transform: scale3d(1.25, 1.25, 1.5);
    margin-top: -100px !important
  }
}

@media only screen and (max-width: 480px) {
  .level.level-scale-up .video-wrapper {
    transform: scale3d(1.5, 1.5, 1.5);
    margin-top: 50px !important
  }
}

.level.level-move-left {
  overflow-x: hidden
}

@media only screen and (min-width: 1025px) {
  .level.level-move-left {
    overflow-y: hidden
  }
}

@media only screen and (max-width: 480px) {
  .level.level-move-left {
    min-height: 100vh
  }
}

.level.level-move-left .show-on-level:not(.video-overlay) {
  margin-left: -200%
}

.level.level-move-left .video-wrapper {
  right: 50% !important;
  overflow: visible !important
}

@media only screen and (max-width: 480px) {
  .level.level-move-left .video-overlay .pulse-dot,
  .level.level-move-left .video-overlay .tooltip {
    transform: scale(0.75)
  }
}

.level.level-push-back .video-wrapper {
  z-index: -1 !important
}

.level.level-plant .col-enterprise {
  display: none
}

.level.level-enterprise .col-plant {
  display: none
}

@media only screen and (min-width: 1025px) {
  .level-plant .video {
    transform: scale3d(1.5, 1.5, 1.5) translate(50px, 100px)
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .video {
    transform: scale3d(1.25, 1.25, 1.5) translate(-10px, 100px)
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .video {
    transform: scale(1.4) translateX(-5px)
  }
}

.level-plant:not(.sidebar-active) .scenes-wrapper {
  min-height: calc(100vh - 150px);
  height: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant:not(.sidebar-active) .scenes-wrapper {
    min-height: calc(100% - 150px)
  }
}

@media only screen and (max-width: 1024px) {
  .level-plant .legend {
    bottom: unset
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .legend {
    top: 200px
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .legend {
    top: 250px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .video-wrapper {
    min-height: 100%
  }
}

.level-plant .video-overlay {
  margin-top: -25px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .video-overlay {
    margin-top: 25px
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .video-overlay {
    margin-top: 0
  }
}

.level-plant .chemicals .margins {
  top: 42%;
  left: 27%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .chemicals .margins {
    top: 50%;
    left: 22%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .chemicals .margins {
    top: 30%;
    left: 18%
  }
}

.level-plant .chemicals .downtime {
  top: 28%;
  left: 69%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .chemicals .downtime {
    left: 55%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .chemicals .downtime {
    top: 17%;
    left: 50%
  }
}

.level-plant .chemicals .agility {
  top: 68%;
  left: 60%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .chemicals .agility {
    top: 80%;
    left: 45%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .chemicals .agility {
    left: 35%
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .consumer-products .legend {
    top: 200px
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .consumer-products .legend {
    top: 350px
  }
}

.level-plant .consumer-products .quality {
  top: 40%;
  left: 30%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .consumer-products .quality {
    left: 25%;
    top: 45%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .consumer-products .quality {
    left: 20%;
    top: 23%
  }
}

.level-plant .consumer-products .reliability {
  top: 67%;
  left: 50%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .consumer-products .reliability {
    top: 80%;
    left: 40%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .consumer-products .reliability {
    top: 40%;
    left: 30%
  }
}

.level-plant .consumer-products .productivity {
  top: 63%;
  left: 75%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .consumer-products .productivity {
    top: 61%;
    left: 55%
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .consumer-products .productivity {
    top: 35%;
    left: 50%
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .energy .video-overlay {
    margin-top: 50px
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .energy .video-overlay {
    margin-top: -50px;
    margin-left: -25px
  }
}

.level-plant .energy .utilities {
  left: 15%;
  top: 47%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .energy .utilities {
    top: 50%
  }
}

.level-plant .energy .downtime {
  left: 50%;
  top: 25%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .energy .downtime {
    left: 45%
  }
}

.level-plant .energy .competency {
  top: 47%;
  left: 50%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .energy .competency {
    left: 40%
  }
}

@media only screen and (min-width: 1025px) {
  .level-plant .power .video {
    transform: scale3d(1, 1, 1.5) translate(50px, 100px)
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .power .video {
    transform: scale3d(1.25, 1.25, 1.5) translate(-10px, 100px)
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .power .video {
    transform: scale(1.4) translateX(-5px)
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-plant .power .video-overlay {
    margin-top: -50px;
    margin-left: -50px
  }
}

@media only screen and (max-width: 480px) {
  .level-plant .power .video-overlay {
    margin-top: -100px;
    margin-left: -50px
  }
}

.level-plant .power .reliability {
  top: 68%;
  left: 29%
}

.level-plant .power .efficiency {
  top: 70%;
  left: 70%
}

.level-plant .power .workforce {
  top: 50%;
  left: 40%
}

.level-plant .level-link-plant {
  display: inline
}

@media only screen and (min-width: 1025px) {
  .level-enterprise .video {
    transform: scale3d(1.75, 1.75, 1.5) translate(-10px, 50px)
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .video {
    transform: scale3d(1.75, 1.75, 1.5) translate(-10px, 100px)
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .video {
    transform: scale(2) translateX(-5px)
  }
}

.level-enterprise:not(.sidebar-active) .scenes-wrapper {
  min-height: calc(100vh - 150px);
  height: 100%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise:not(.sidebar-active) .scenes-wrapper.energy {
    min-height: 100vh !important
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise:not(.sidebar-active) .scenes-wrapper {
    min-height: calc(100% - 150px)
  }
}

@media only screen and (max-width: 1024px) {
  .level-enterprise .legend {
    bottom: unset
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .legend {
    top: 200px
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .legend {
    top: 275px
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .video-wrapper {
    min-height: 100%
  }
}

.level-enterprise .video-overlay {
  margin-top: -75px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .video-overlay {
    margin-top: -25px
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .video-overlay {
    margin-top: 0
  }
}

.level-enterprise .chemicals .sustainability {
  top: 30%;
  left: 40%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .chemicals .sustainability {
    top: 41%;
    left: 39%
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .chemicals .sustainability {
    top: 5%;
    left: 35%
  }
}

.level-enterprise .chemicals .performance {
  top: 30%;
  left: 60%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .chemicals .performance {
    top: 40%;
    left: 58%
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .chemicals .performance {
    top: 20%;
    left: 55%
  }
}

.level-enterprise .chemicals .competency {
  top: 50%;
  left: 55%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .chemicals .competency {
    top: 67%;
    left: 48%
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .chemicals .competency {
    left: 40%
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .consumer-products .legend {
    top: 200px
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .consumer-products .legend {
    top: 400px
  }
}

@media only screen and (min-width: 1025px) {
  .level-enterprise .consumer-products .video {
    transform: scale3d(1.75, 1.75, 1.5) translate(0px, 50px)
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .consumer-products .video {
    transform: scale(2) translate(-5px, 0px)
  }
}

.level-enterprise .consumer-products .video-overlay {
  margin-top: -100px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .consumer-products .video-overlay {
    margin-top: 0
  }
}

.level-enterprise .consumer-products .sustainability {
  top: 31%;
  left: 38%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .consumer-products .sustainability {
    top: 34%;
    left: 37%
  }
}

.level-enterprise .consumer-products .standards {
  top: 42%;
  left: 14%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .consumer-products .standards {
    top: 48%;
    left: 13%
  }
}

.level-enterprise .consumer-products .agility {
  top: 28%;
  left: 54%
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .consumer-products .agility {
    top: 31%;
    left: 51%
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .level-enterprise .energy .video-overlay {
    margin-top: 50px
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .energy .video-overlay {
    margin-top: -75px
  }
}

.level-enterprise .energy .optimization {
  top: 45%;
  left: 15%
}

.level-enterprise .energy .zero {
  top: 25%;
  left: 40%
}

.level-enterprise .energy .resilience {
  top: 35%;
  left: 50%
}

@media only screen and (max-width: 480px) {
  .level-enterprise .power .legend {
    top: 325px
  }
}

@media only screen and (max-width: 480px) {
  .level-enterprise .power .video-overlay {
    margin-top: -75px
  }
}

.level-enterprise .power .engineering {
  top: 43%;
  left: 43%
}

.level-enterprise .power .visibility {
  top: 30%;
  left: 75%
}

.level-enterprise .power .empowerment {
  top: 50%;
  left: 60%
}

.level-enterprise .level-link-enterprise {
  display: inline
}

@-webkit-keyframes scale-width {
  0% {
    width: 460px
  }
  100% {
    width: calc(100%)
  }
}

@keyframes scale-width {
  0% {
    width: 460px
  }
  100% {
    width: calc(100%)
  }
}

@-webkit-keyframes pulse-before {
  0% {
    box-shadow: 0 0 0 0 rgba(107, 5, 168, 0.4)
  }
  3% {
    box-shadow: 0 0 0 20px rgba(107, 5, 168, 0.4)
  }
  35% {
    box-shadow: 0 0 0 56px rgba(107, 5, 168, 0)
  }
}

@keyframes pulse-before {
  0% {
    box-shadow: 0 0 0 0 rgba(107, 5, 168, 0.4)
  }
  3% {
    box-shadow: 0 0 0 20px rgba(107, 5, 168, 0.4)
  }
  35% {
    box-shadow: 0 0 0 56px rgba(107, 5, 168, 0)
  }
}

@-webkit-keyframes pulse-after {
  15% {
    box-shadow: 0 0 0 0 rgba(107, 5, 168, 0.2)
  }
  18% {
    box-shadow: 0 0 0 10px rgba(107, 5, 168, 0.2)
  }
  50% {
    box-shadow: 0 0 0 70px rgba(107, 5, 168, 0)
  }
}

@keyframes pulse-after {
  15% {
    box-shadow: 0 0 0 0 rgba(107, 5, 168, 0.2)
  }
  18% {
    box-shadow: 0 0 0 10px rgba(107, 5, 168, 0.2)
  }
  50% {
    box-shadow: 0 0 0 70px rgba(107, 5, 168, 0)
  }
}

@-webkit-keyframes slide-from-left {
  0% {
    left: -100%
  }
  100% {
    left: 0px
  }
}

@keyframes slide-from-left {
  0% {
    left: -100%
  }
  100% {
    left: 0px
  }
}

.legend {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 12px 14px 18px 16px;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 110px;
  border-left: 2px solid #6b05a8;
  left: -100%
}

.legend.slide-in {
  -webkit-animation: slide-from-left 1s forwards;
  animation: slide-from-left 1s forwards
}

.legend .dot {
  flex: 0 0 16px;
  margin: 5px 15px 0 0
}

.legend .description {
  max-width: 180px
}

.level .legend.show-on-level {
  max-width: 292px;
  display: flex
}

.pulse-dot {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #f5a624;
  display: inline-block;
  cursor: pointer;
  opacity: 0;
  transition: opacity .5s ease-in-out
}

.pulse-dot.show-dot {
  opacity: 1
}

.pulse-dot:hover .tooltip {
  opacity: 1
}

.pulse-dot .tooltip {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  font-family: Barlow-Medium, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #363d42;
  position: absolute;
  padding: 9px 53px 9px 20px;
  white-space: nowrap;
  top: -50px;
  left: 29px;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  z-index: 5;
  pointer-events: none
}

.pulse-dot .tooltip::after {
  content: " ";
  position: absolute;
  left: 10px;
  bottom: -6px;
  border-top: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: none
}

.pulse-dot .dot-img {
  box-shadow: 0 0 0 10px rgba(245, 166, 36, 0.3)
}

.pulse-dot .dot-img,
.pulse-dot::before,
.pulse-dot::after {
  content: '';
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all 2s ease-in-out;
  width: 12px;
  height: 12px;
  z-index: 1;
  position: relative;
  margin-left: 9px;
  margin-top: 9px
}

.pulse-dot::before,
.pulse-dot::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: none;
  -webkit-animation-delay: .5s;
  animation-delay: .5s
}

.pulse-dot::before {
  -webkit-animation-name: pulse-before;
  animation-name: pulse-before
}

.pulse-dot::after {
  -webkit-animation-name: pulse-after;
  animation-name: pulse-after
}

.sidebar-wrapper {
  position: absolute;
  max-width: 625px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  transition: right 1s ease-in-out;
  transition-delay: 1s
}

@media only screen and (min-width: 1025px) {
  .sidebar-wrapper {
    overflow-x: hidden
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar-wrapper {
    overflow: hidden
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar-wrapper {
    max-width: 100%;
    left: 0;
    position: relative
  }
}

.sidebar-wrapper .sidebar {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -200%;
  height: 100%;
  box-shadow: -18px 4px 16px 0 rgba(0, 0, 0, 0.1);
  transition: right 2s ease-in-out
}

.sidebar-wrapper .sidebar .purple-gradient-section {
  background-image: linear-gradient(128deg, #3e1253 7%, #5a0d87 67%);
  padding: 22px 35px 30px;
  position: relative
}

.sidebar-wrapper .sidebar .purple-gradient-section h4 {
  font-family: Barlow-Regular, Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  font-weight: normal
}

.sidebar-wrapper .sidebar .purple-gradient-section p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .sidebar-wrapper .sidebar .purple-gradient-section {
    padding: 43px 50px 15px
  }
  .sidebar-wrapper .sidebar .purple-gradient-section h4 {
    margin-bottom: 20px
  }
  .sidebar-wrapper .sidebar .purple-gradient-section .white {
    margin-bottom: 15px
  }
}

@media only screen and (max-width: 480px) {
  .sidebar-wrapper .sidebar .purple-gradient-section {
    padding: 30px 45px 30px
  }
}

.sidebar-wrapper .sidebar .purple-gradient-section .sidebar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer
}

.sidebar-wrapper .sidebar .white-section {
  background-color: rgba(255, 255, 255, 0.95);
  height: 100%;
  padding: 60px 75px 0 35px
}

@media only screen and (max-width: 1024px) {
  .sidebar-wrapper .sidebar .white-section {
    height: initial
  }
}

.sidebar-wrapper .sidebar .white-section p {
  font-family: Muli-Regular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px
}

.sidebar-wrapper .sidebar .white-section .icon-wrapper {
  display: flex;
  margin-bottom: 25px
}

.sidebar-wrapper .sidebar .white-section .icon-wrapper .icon {
  flex: 0 0 62px;
  margin-right: 16px
}

.sidebar-wrapper .sidebar .white-section .top {
  padding-bottom: 40px;
  margin-bottom: 52px;
  border-bottom: 1px solid #ddd
}

.sidebar-active .sidebar-wrapper {
  z-index: 3;
  display: block
}

.sidebar-active .show-sidebar {
  right: 0
}

.sidebar-active .top-nav {
  position: relative;
  z-index: 1
}

@media only screen and (min-width: 1025px) {
  .sidebar-active .top-nav {
    background-color: #23282b
  }
  .sidebar-active .top-nav a {
    color: #fff
  }
}

@media only screen and (max-width: 1024px) {
  .sidebar-above .sidebar-wrapper {
    overflow: visible
  }
}

.sidebar-to-front {
  z-index: 6
}

.slider-inner {
  height: 0px !important;
}

.splash.purple .slide-chemicals h1::after {
  content: "Chemicals";
}

.splash.purple .slide-consumer-products h1::after {
  content: "Consumer-packaged Goods";
}

.splash.purple .slide-energy h1::after {
  content: "Oil and Gas";
}

.splash.purple .slide-power h1::after {
  content: "Power";
}

.slide.col-wrapper{
  top: -100%;
  z-index: 0;
  position: relative;
  transform: translate(0px, 130px);
}

.slider.purple .nav.title-nav {
  opacity: 0;
}

.slider.purple .col-right {
  opacity: 0;
}

.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s ease-in-out !important;
  opacity: 0;
  position: absolute;
  height: 115%;
  width: 100%;
}

.purple .bg {
  opacity: 0 !important;
}

.chemicals .bg {
  background-image: url(../images/chemicals.png)
}

.energy .bg {
  background-image: url(../images/energy.png)
}

.consumer-products .bg {
  background-image: url(../images/consumer-products.png)
}

.power .bg {
  background-image: url(../images/power.png)
}


@media screen and (max-width: 1024px) {
  .splash.purple h1 {
    width: 492px;
    font-size: 51px;
  }

  .splash.purple h1::after {
    width: 492px;
    font-size: 51px;
  }
}

@media screen and (max-width: 1000px) {
  .splash.purple h1 {
    width: 384px;
    font-size: 51px;
  }

  .splash.purple h1::after {
    width: 384px;
    font-size: 51px;
  }
}

@media screen and (max-width: 480px) {
  .splash.purple h1 {
    width: 410px;
    font-size: 44px;
  }

  .splash.purple h1::after {
    width: 410px;
    font-size: 44px;
  }
}

@media screen and (max-width: 428px) {
  .splash.purple h1 {
    width: 384px;
    font-size: 44px;
  }

  .splash.purple h1::after {
    width: 384px;
    font-size: 44px;
  }
}

@media screen and (max-width: 800px) {
  .bg {
    height: 100%;
  }

  .slide.col-wrapper {
    transform: none;
  }

  .nav.title-nav {
    padding: 92px 0 92px;
  }

}

@media screen and (max-width: 480px){
  .col-wrapper {
    flex-direction: row;
  }
  .slider.splash.purple h1::after {
    font-size: 44px !important;
  }
}